@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Lobster&family=Merriweather:wght@400;700&display=swap');

// Zeytun ABC Colors
$z-red: #DB2B39;
$z-blue: #29335C;
$z-yellow: #F3A712;
$z-white: #F0CEA0;
$z-brown: #534D41;
$z-white-like: #f0f0f0;

// Zeytun ABC Fonts
$z-brand-font: "Lobster", cursive;
$z-header-font: "Merriweather", serif;
$z-content-font: "Lato", sans-serif;

//Bulma Navbar Customizations
$navbar-height: 5rem;
$navbar-item-color: $z-yellow;
$navbar-item-active-color: $z-yellow;
$navbar-item-active-background-color: $z-brown;
$navbar-item-hover-color: $z-yellow;
$navbar-item-hover-background-color: $z-white-like;
$navbar-burger-color: $z-yellow;

//Bulma Color Customizations
$primary: $z-white;
$warning: $z-yellow;
$danger: $z-red;

//Bulma Footer Customizations
$footer-background-color: $z-brown;
$footer-padding: 3rem 1em 3rem 1rem;

@import "../node_modules/bulma/bulma.sass";

//navigation component styling
.navbar {
    border-bottom: 2px solid $z-white-like;
    .navbar-brand {
        img {
            min-height: 3rem;
            max-height: 4rem;
        }
    }

    .navbar-item {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 40px;
        padding: 0 1rem;
        font-family: $z-content-font;
        text-transform: uppercase;
    }

    .navbar-burger {
        height: 96px;
    }

    .navbar-burger:hover {
        color: $z-yellow;
    }

    #navbarBasicExample {
        .navbar-item {
            font-size: 1rem;
        }
    }
}

.company-title {
    color: $z-brown;
    font-weight: bolder;
    font-family: $z-brand-font;
    font-size: 2.5rem;
    padding-left: 0.5rem;
}

@media (max-width: 441px) {
    .company-title {
        font-size: 2rem;
    }
}

@media (max-width: 341px) {
    .company-title {
        font-size: 1.5rem;
    }
}
//navigation component styling

// preloader component styling
.preloader-overlay {
    height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: $z-yellow;
}

.breeding-rhombus-spinner {
    height: 65px;
    width: 65px;
    position: relative;
    transform: rotate(45deg);
    left: 45%;
    top: 45%;
}

.breeding-rhombus-spinner, .breeding-rhombus-spinner * {
    box-sizing: border-box;
}

.breeding-rhombus-spinner .rhombus {
    height: calc(65px / 7.5);
    width: calc(65px / 7.5);
    animation-duration: 2000ms;
    top: calc(65px / 2.3077);
    left: calc(65px / 2.3077);
    background-color: $z-brown;
    position: absolute;
    animation-iteration-count: infinite;
}

.breeding-rhombus-spinner .rhombus:nth-child(2n+0) {
    margin-right: 0;
}

.breeding-rhombus-spinner .rhombus.child-1 {
    animation-name: breeding-rhombus-spinner-animation-child-1;
    animation-delay: calc(100ms * 1);
}

.breeding-rhombus-spinner .rhombus.child-2 {
    animation-name: breeding-rhombus-spinner-animation-child-2;
    animation-delay: calc(100ms * 2);
}

.breeding-rhombus-spinner .rhombus.child-3 {
    animation-name: breeding-rhombus-spinner-animation-child-3;
    animation-delay: calc(100ms * 3);
}

.breeding-rhombus-spinner .rhombus.child-4 {
    animation-name: breeding-rhombus-spinner-animation-child-4;
    animation-delay: calc(100ms * 4);
}

.breeding-rhombus-spinner .rhombus.child-5 {
    animation-name: breeding-rhombus-spinner-animation-child-5;
    animation-delay: calc(100ms * 5);
}

.breeding-rhombus-spinner .rhombus.child-6 {
    animation-name: breeding-rhombus-spinner-animation-child-6;
    animation-delay: calc(100ms * 6);
}

.breeding-rhombus-spinner .rhombus.child-7 {
    animation-name: breeding-rhombus-spinner-animation-child-7;
    animation-delay: calc(100ms * 7);
}

.breeding-rhombus-spinner .rhombus.child-8 {
    animation-name: breeding-rhombus-spinner-animation-child-8;
    animation-delay: calc(100ms * 8);
}

.breeding-rhombus-spinner .rhombus.big {
    height: calc(65px / 3);
    width: calc(65px / 3);
    animation-duration: 2000ms;
    top: calc(65px / 3);
    left: calc(65px / 3);
    background-color: $z-brown;
    animation: breeding-rhombus-spinner-animation-child-big 2s infinite;
    animation-delay: 0.5s;
}


@keyframes breeding-rhombus-spinner-animation-child-1 {
    50% {
        transform: translate(-325%, -325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-2 {
    50% {
        transform: translate(0, -325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-3 {
    50% {
        transform: translate(325%, -325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-4 {
    50% {
        transform: translate(325%, 0);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-5 {
    50% {
        transform: translate(325%, 325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-6 {
    50% {
        transform: translate(0, 325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-7 {
    50% {
        transform: translate(-325%, 325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-8 {
    50% {
        transform: translate(-325%, 0);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-big {
    50% {
        transform: scale(0.5);
    }
}
// preloader component styling

//floating action button component styling
.floating-action-button {
    position: fixed;
    background: $z-yellow;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    right: 0.75rem;
    bottom: 0.75rem;
    z-index: 11;

    &:hover {
        color: $z-yellow;
        background: white ;
        border: 1px solid $z-yellow;
    }
}
//floating action button component styling

//introduction component styling
#home {
    .hero {
      background-color: $z-brown;
      margin-top: 80px;
    }
    
    .title {
        word-break: break-word;
      font-size: 3rem;
      color: white;
      font-family: $z-header-font;
      span {
        color: $z-yellow;
      }
    }
    
    .subtitle {
      font-size: 1.5rem;
      color: $z-white;
      font-family: $z-content-font;
    }
  }
  //introduction component styling

  //about component styling
#about {
    background-color: $z-white;
    .title {
      font-size: 3rem;
      color: $z-brown;
      font-family: $z-header-font;
      text-align: center;
    }
  
    .subtitle {
      font-size: 1.5rem;
      color: $z-brown;
      font-family: $z-content-font;
      line-height: 2rem;
    }
  }
  //about component styling

  //service card component styling
#service-card {
    padding: 1rem; 
    height: 100%;
    background: $z-yellow;
    overflow: hidden;

    .main-icon {
        color: #f0f0f0;
        font-size: 3rem;
    }

    .category-icon {
        color: #f0f0f0;
        font-size: 2rem;
        //margin-left: 1rem;
    }
  
    .card-content {
      padding: 0.75rem;
      text-align: center;
    }
  
    .card-icon-wrapper {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      .card-icon-shaper {
        border: 2px solid $z-white-like;
        height: 80px;
        width: 80px;
        padding-top: 16px;
        border-radius: 20px;
      }
    }
  
    .card-title {
      display: inline-block;
      padding-top: 1rem;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $z-white-like;
      font-family: $z-header-font;
    }
  
    .card-subtitle {
      padding-top: 0.5rem;
      font-size: 1.5rem;
      color: $z-white-like;
      font-family: $z-content-font;
    }

    .card-category-title {
        display: inline-block;
        padding-top: 2.5rem;
        margin-left: 1rem;
        font-size: 1.25rem;
        text-transform: uppercase;
        color: $z-white-like;
        font-family: $z-header-font;
    }

    .card-category-subtitle {
        padding-top: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1rem;
        color: $z-white-like;
        font-family: $z-content-font;
    }

    .button-centerer {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }

    a { 
        width: 50%;
        border: 2px solid white;
        align-items: center;
    }
  }
  //service card component styling

  //services component styling
#services {
    background-color: #fff;
    .title {
      font-size: 3rem;
      color: $z-yellow;
      font-family: $z-header-font;
      text-align: center;
    }

    .card-image {
        //border: 2px solid black;
        height: 600px;
    }

}

@media (max-width: 1382px ) {
    .card-category-title {
        font-size: 1rem !important;
    }

    .category-icon {
        font-size: 1rem !important;
    }
}

@media (max-width: 768px) {
    .card-image {
        height: auto !important;
    }

    .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
    }
}
//services component styling

//certification component styling
#certification {
    background-color: $z-white-like;
    border-bottom: 1px solid $z-brown;

    .aat-title {
        font-size: 2rem;
        font-weight: bold;
        font-family: $z-content-font;
        margin-bottom: 0.25rem;
        color: #00AB4E;
    }

    .ea-title {
        font-size: 2rem;
        font-weight: bold;
        font-family: $z-content-font;
        margin-bottom: 0.25rem;
        color: #023E86;
    }


    //background-color: red;
}
//certification component styling

//achievements component syling
#achievements {
    background-color: $z-white-like;
    border-bottom: 1px solid $z-white;

    svg {
        color: $z-yellow;
        font-size: 2rem;
    }

    .title {
        font-size: 1rem;
        font-weight: 700;
        font-family: $z-content-font;
        color: $z-brown;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
      }
      .subtitle {
        font-size: 1rem;
        font-weight: 700;
        font-family: $z-brand-font;
        color: $z-yellow;
        margin-top: 0.25rem;;
      }
}
//achievements component syling

//contact component styling
#contact {
    background-color: $z-white;

    .contact-form {
        background-color: $z-red;
        border-radius: 40px;
    }

    .contact-card {
        background-color: $z-yellow;
        border-radius: 40px;
    }

    .title {
        font-size: 3rem;
        color: $z-brown;
        font-family: $z-header-font;
        text-align: center;
    }

    .small-title {
        font-family: $z-content-font;
        color: $z-white-like;
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .notification {
        display: none;
    }

    h5 {
        font-family: $z-content-font;
        color: $z-white-like;
        font-size: 1rem;
        text-align: center;
    }

    .iframe-holder {
        margin-top: 0.5rem;
        height: 385px;
    }

    form {
        label {
            font-family: $z-content-font, serif;
            color: $z-white-like;
            font-size: 1rem;
        }
        button {
            width: 60%;
        }
    }
}

@media (max-width: 768px) {
    .iframe-holder {
        height: auto !important;
    }
}
//contact component styling

//footer component syling
footer {
    color: $z-white-like;
    font-family: $z-content-font;
    font-weight: 1rem;
    strong {
        color: $z-white;
    }
}
//footer component syling
  